{{!< default}}
<!--Background-->
<div class="background about-bg">
	<h1>ABOUT FREEDOM</h1>
</div>]
<!--Message-->
<div class="message">
	<h3>A Message From Our Pastor</h3>
	<p>"Our conviction is to make teams and visionaries who are desiring to be “The Church”, not only inside the church, but to be the church everywhere. We are called to be witnesses not only here in the church building, but we are called to be witnesses in all places. We are missionaries here in Atlanta, GA to all kinds of peoples and circles. If we gather all kinds of peoples in different circles, we believe there will be a change in those different circles through that one person used by God. We want to be the powerhouse! We must send out missionaries!"</p>
	<img src="/images/about/signature.png" /> <br />
	<button class="btn-lg btn-black">Read Biography</button>
</div>
<!--Our Story-->
<div class="story">
	<div class="row">
		<div class="col-md-6 left">
			<h3>Our Story</h2>
			<p>Here at Freedom Church, we believe this is His amazing story, and we love making His story known. The Good News of how God the Father (1 John 4:9), sent His one and only Son Jesus Christ into the world (John 3:16), for all of man has sinned and fallen short of the glory of God (Romans 3:23). Jesus Christ, the Son of Man and the Son of God, saves us from the wrath of God, which was for the penalty of our very own sins (Matthew 20:22, 26:39). On the third day, He rose again, defeating sin and death, and relieving the wrath of God (1 Cor. 15:4)!. When we believe and trust in Jesus Christ as personal Lord and Savior (Romans 10:9), we are given Christ’s perfect righteousness forever, giving us peace and acceptance with God (2 Corinthians 5:21). The Lord calls each of us to be the bearer of good news to all peoples, for we are now in love with Gospel of Jesus Christ!</p>
		</div>
		<div class="col-md-6 right">
			<h3>What We Believe</h2>
			<p>Here at Freedom Church, we believe this is His amazing story, and we love making His story known. The Good News of how God the Father (1 John 4:9), sent His one and only Son Jesus Christ into the world (John 3:16), for all of man has sinned and fallen short of the glory of God (Romans 3:23). Jesus Christ, the Son of Man and the Son of God, saves us from the wrath of God, which was for the penalty of our very own sins (Matthew 20:22, 26:39). On the third day, He rose again, defeating sin and death, and relieving the wrath of God (1 Cor. 15:4)!. When we believe and trust in Jesus Christ as personal Lord and Savior (Romans 10:9), we are given Christ’s perfect righteousness forever, giving us peace and acceptance with God (2 Corinthians 5:21). The Lord calls each of us to be the bearer of good news to all peoples, for we are now in love with Gospel of Jesus Christ!</p>
		</div>
	</div>
</div>
<!--Beliefs-->
<div class="beliefs">
	<h3>Our Essential Beliefs</h3>
	<div class="row">
		<div class="col-md-offset-1 col-md-1">
			<i class="fa fa-bullhorn fa-2x"></i>
		</div>
		<div class="col-md-4">
			<h4>Preaching God's Inerrant Infallible Word</h4>
			<p>"All Scripture is given by inspiration of God, and is profitable for doctrine, for reproof, for correction, for instruction in righteousness" - 2 Timothy 3:16</p>
		</div>
		<div class="col-md-1">
			<i class="fa fa-signing fa-2x"></i>
		</div>
		<div class="col-md-4">
			<h4>God-Dependant Prayer</h4>
			<p>"Rejoice always, pray without ceasing, in everything give thanks; for this is the will of God in Christ Jesus for you." - 1 Thessalonians 5:16-18</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-1 col-md-1">
			<i class="fa fa-cutlery fa-2x"></i>
		</div>
		<div class="col-md-4">
			<h4>Administering the Sacraments</h4>
			<p>"Repent, and let every one of you be baptized in the name of Jesus Christ for the remission of sins; and you shall receive the gift of the Holy Spirit." - Acts 2:38</p>
		</div>
		<div class="col-md-1">
			<i class="fa fa-group fa-2x"></i>
		</div>
		<div class="col-md-4">
			<h4>God-Centered, Christ-Centered, Spirit-Centered</h4>
			<p>"For I am not ashamed of the gospel of Christ, for it is the power of God to salvation for everyone who believes, for the Jew first and also for the Greek." - Romans 1:16</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-1 col-md-1">
			<i class="fa fa-music fa-2x"></i>
		</div>
		<div class="col-md-4">
			<h4>Freedom Worship</h4>
			<p>"Be filled with the Spirit, speaking to one another in psalms and hymns and spiritual songs, singing and making melody in your heart to the Lord." - Ephesians 5:19</p>
		</div>
		<div class="col-md-1">
			<i class="fa fa-assistive-listening-systems fa-2x"></i>
		</div>
		<div class="col-md-4">
			<h4>Preaching God's Truth to nourish and grow saints</h4>
			<p>"Till I come, give attention to reading, to exhortation, to doctrine." - 1 Timothy 4:13</p>
		</div>
	</div>
	<div class="row end">
		<div class="col-md-offset-1 col-md-1">
			<i class="fa fa-heart fa-2x"></i>
		</div>
		<div class="col-md-4">
			<h4>Discipleship, Accountability, Discipline</h4>
			<p>"For whom the Lord loves He chastens, And scourges every son whom He receives." - Hebrews 12:6</p>
		</div>
		<div class="col-md-1">
			<i class="fa fa-blind fa-2x"></i>
		</div>
		<div class="col-md-4">
			<h4>Led by the Holy Spirit through the Word</h4>
			<p>"If we live in the Spirit, let us also walk in the Spirit." - Galatians 5:25</p>
		</div>
	</div>
</div>
<!--About Links-->
<div class="row about-links">
	<a href=""><div class="col-md-4 about-link" style="background-image: url(/images/blog/2.jpg)">
			<h3>COMMUNITIES</h3>
		</div>
	</a>
	<a href=""><div class="col-md-4 about-link" style="background-image: url(/images/blog/3.jpg)">
			<h3>LEADERSHIP</h3>
		</div>
	</a>
	
	<a href=""><div class="col-md-4 about-link" style="background-image: url(/images/blog/5.jpg)">
			<h3>STAFF MEMBERS</h3>
		</div>
	</a>
</div>