{{!< default}}
<div class="block"></div>
<!--Background Video-->
<div class="block fullscreen-bg">
			<video loop muted autoplay class="fullscreen-bg__video">
					<source src="/images/background.mp4" type="video/mp4">
			</video>
			<img class="logo" src="/images/logo.png"/>
			<div class="intro-text">
				<p>gospel centered. Christ magnifying. cross-cultural.</p>
			</div>
</div>
<!--The Purpose-->
<div class="the-purpose">
	<h3>The Purpose</h3>
	<hr>
	<p>Building a community where <strong>Christ</strong> is all and in all.</p>
	<iframe title="YouTube video player" class="youtube-player" type="text/html"
	 src="http://www.youtube.com/embed/vn-0Jl4z2d8"
	frameborder="0" allowFullScreen></iframe>
</div>

<div class="home-blog">
	<h3>Latest Blog Posts</h3>
	<div class="row">
		<div class="col-md-4">
			<img class="blog-post" src="/images/blog/1.jpg" />
			<h5>Welcome To Freedom</h5>
			<h6>Sunho Kim</h6>
		</div>
		<div class="col-md-4">
			<img class="blog-post" src="/images/blog/4.jpg" />
			<h5>Why Jesus?</h5>
			<h6>Pastor Brian</h6>
		</div>
		<div class="col-md-4">
			<img class="blog-post" src="/images/blog/3.jpg" />
			<h5>Christmas Service</h5>
			<h6>Justin Ham</h6>
		</div>
	</div>
	<button class="btn-lg btn-white">View More</button>
</div>