{{!< default}}
<!--Background-->
<div class="background worship-bg">
    <h1>FREEDOM WORSHIP</h1>
</div>

<!--Freedom Worship-->
<div class="freedom-worship">
    <h2>Passionate. God Loving. Worship.</h2>
    <p>Shout for joy to the Lord, all the earth. Worship the Lord with gladness; come before him with joyful songs.</p>
</div>

<!--Praise Team-->
<div class="row praise-team">
    <div class="praise-member" style="background-image: url(/images/worship/justin.png)">
        <h1>F</h1>
    </div>
    <div class="praise-member" style="background-image: url(/images/worship/angela.png)">
        <h1>R</h1>
    </div>
    <div class="praise-member" style="background-image: url(/images/worship/sunho.png)">
        <h1>E</h1>
    </div>
    <div class="praise-member" style="background-image: url(/images/worship/hanna.png)">
        <h1>E</h1>
    </div>
    <div class="praise-member" style="background-image: url(/images/worship/joseph.png)">
        <h1>D</h1>
    </div>
    <div class="praise-member" style="background-image: url(/images/worship/elizabeth.png)">
        <h1>O</h1>
    </div>
    <div class="praise-member" style="background-image: url(/images/worship/james.png)">
        <h1>M</h1>
    </div>
</div>